@import './mixins';
@import './variables';

.banner{
    position: relative;
    @include flex;
    border-radius: 10px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('/home-cover.png');
    background-position: center;
    background-size: cover;
    height: 223px;    
    padding: 20px;
    max-width: 95%;
    margin: 43px auto;
    @media screen and (max-width: 550px){
        margin: 20px auto;
        padding-right: 120px;
        height: 120px;
    }
    &_about{
        position: relative;
        @include flex;
        border-radius: 10px;
        height: 225px;
        max-width: 95%;
        margin: 43px auto;
        background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('/about-cover.png');
        background-position: center;
        background-size: cover;
        @media screen and (max-width: 550px){
            margin: 38px auto;
            height: 140px;
        }
    }
    p{
        color: $color-primary;
        font-size: clamp(24px, 4vw, 48px);
        font-weight: bolder;
    }
}